# Python
__pycache__/
*.pyc
.venv/
.venv*/
.pytest_cache/

# Node
node_modules/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# OS / editor
.DS_Store
.vscode/
